# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: 'Renovate'

on:
  workflow_dispatch:
    inputs:
      dryRun:
        type: boolean
        description: Dry Run
        default: false
        required: false
      logLevel:
        type: choice
        options:
          - debug
          - verbose
          - info
          - warn
          - error
          - silent
        description: Log Level
        default: info
        required: false
      version:
        type: string
        description: Renovate version
        default: latest
        required: false
  schedule:
    - cron: '0 * * * *' # Every hour
  push:
    branches: ['main']
    paths:
      - .github/renovate.json5
      - .github/renovate/**.json5

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: "${{ inputs.logLevel || 'debug' }}"
  RENOVATE_AUTODISCOVER: true
  RENOVATE_AUTODISCOVER_FILTER: '${{ github.repository }}'
  RENOVATE_BASE_BRANCHES: main
  RENOVATE_DRY_RUN: '${{ inputs.dryRun == true }}'
  RENOVATE_PLATFORM: github
  RENOVATE_PLATFORM_COMMIT: true
  WORKFLOW_RENOVATE_VERSION: "${{ inputs.version || 'latest' }}"
  OP_CONNECT_HOST: ${{ secrets.OP_CONNECT_HOST }}
  OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: 1password/load-secrets-action/configure@8d0d610af187e78a2772c2d18d627f4c52d3fbfb # v3
        with:
          connect-host: ${{ env.OP_CONNECT_HOST }}
          connect-token: ${{ env.OP_CONNECT_TOKEN }}

      - uses: 1password/load-secrets-action@8d0d610af187e78a2772c2d18d627f4c52d3fbfb # v3
        with:
          export-env: true
        env:
          BOT_APP_ID: op://homelab/GITHUB/GITHUB_APP_ID
          BOT_APP_PRIVATE_KEY: op://homelab/GITHUB/GITHUB_APP_PRIVATE_KEY

      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: '${{ env.BOT_APP_ID }}'
          private-key: '${{ env.BOT_APP_PRIVATE_KEY }}'

      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: '${{ steps.app-token.outputs.token }}'

      - name: Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          configurationFile: .github/renovate.json5
          token: '${{ steps.app-token.outputs.token }}'
          renovate-version: '${{ env.WORKFLOW_RENOVATE_VERSION }}'
